@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
/* body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
} */
body {
  font-family: "Poppins", sans-serif;
}

.products-container {
  margin: auto;
  text-align: center;
  transition: transform 0.5s;
}
.listProductHTML h2 {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  margin-bottom: 0.5em;
}
.navbar {
  background-color: #333;
}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
}
.cart-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 200px;
  height: 80px;
}
.icon-cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart-list:hover {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.title-cart {
  margin-right: 10px;
  font-weight: bold;
}
.fa-cart-shopping {
  font-size: 24px;
  color: #555;
}
.icon-cart span {
  margin-left: 5px;
  font-weight: bold;
  color: #fff;
}

.slide {
  width: 300px;
  padding: 150px 18px 0 26px;
}
/* Card Products */
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 7px 21px 1px;
  transition: transform 0.3s ease-in-out;
}

.product img {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
  border-radius: 10px;
  filter: drop-shadow(0 50px 20px #0009);
}
.card-title {
  font-size: 1.5rem;
  margin-top: 10px;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.popup img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.popup-content {
  position: relative;
  color: white;
  text-align: center;
}

.close {
  right: 10px;
  cursor: pointer;
}

.product .btn button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn .close {
  background-color: #6c757d;
  color: #fff;
  margin-right: 5px;
}

.btn .checkOut {
  background-color: #007bff;
  color: #fff;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  height: 100px;
  max-width: 100%;
  overflow: hidden;
}
.card-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #009688;
}
.product .btn-primary {
  background-color: #009688;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}
/* Footer style */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

/* Cart Tab Style */
.cartTab {
  width: 400px;
  height: fit-content;
  background-color: #353432;
  color: #fff;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
  filter: drop-shadow(3px 10px 21px black);
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
  height: auto;
  overflow: scroll;
  width: auto;
}
/* body.showCart .products-container {
  transform: translateX(-250px);
} */

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
  background-color: #e8bc0e;
  border: none;
  font-weight: 500;
  font-family: Poppins;
  cursor: pointer;
}

.cartTab .btn .close {
  background-color: #555;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}

.cartTab .listCart .products img {
  width: 100%;
  border-radius: 20px;
  margin: 15px 0 0 16px;
  filter: drop-shadow(2px 4px 6px white);
}

.cartTab .listCart .products {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}

.listCart .products:nth-child(even) {
  background-color: #eee1;
}

.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Filter Style */
.filter {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.filter label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filter input,
.filter button {
  margin-bottom: 10px;
}

.filter button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.filter button:hover {
  background-color: #4caf50;
  color: #fff;
}

.filter input.form-control,
#minPrice,
#maxPrice {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s;
}

.filter input[type="number"]:hover,
.form-control:hover,
#minPrice:hover,
#maxPrice:hover {
  border-color: #4caf50;
}

#priceFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.filter .row label,
.filter .row input,
.filter .row button {
  flex: 1;
  margin-right: 10px;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: 1px solid #6c757d;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #495057;
  border-color: #495057;
  color: #fff;
}

#filterInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 2px 0 8px 0;
}

#slider-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #888888, -5px -5px 10px #888888;
}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  filter: drop-shadow(0 50px 20px #0009);
}

.slide img {
  width: 30%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  padding: 16px 6px 6px 12px;
}

#slider-container button {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#slider-container button:hover {
  background-color: #2980b9;
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}

