@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
/* body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
} */
body {
  font-family: "Poppins", sans-serif;
}

.products-container {
  margin: auto;
  text-align: center;
  transition: transform 0.5s;
}
.listProductHTML h2 {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  margin-bottom: 0.5em;
}
.navbar {
  background-color: #333;
}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
}
.cart-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 200px;
  height: 80px;
}
.icon-cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart-list:hover {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.title-cart {
  margin-right: 10px;
  font-weight: bold;
}
.fa-cart-shopping {
  font-size: 24px;
  color: #555;
}
.icon-cart span {
  margin-left: 5px;
  font-weight: bold;
  color: #fff;
}
.filter {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 60%;
}
.btnclear:hover {
  background-color: rgb(221, 52, 52);
}

.filter label {
  margin-right: 10px;
}

#filterInput {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

#priceFilter {
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#priceFilter label {
  margin-right: 10px;
  margin-bottom: 5px;
}
#priceFilter input,
#priceFilter button {
  margin-bottom: 10px;
}

#minPrice,
#maxPrice {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

#priceFilter button {
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}
.slide {
  width: 300px;
  padding: 5px 18px 0 26px;
  justify-content: center;
  align-items: center;
}
/* Card Products */
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 7px 21px 1px;
  transition: transform 0.3s ease-in-out;
}

.product img {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
  border-radius: 10px;
  filter: drop-shadow(0 50px 20px #0009);
}
.card-title {
  font-size: 1.5rem;
  margin-top: 10px;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

.popup img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.popup-content {
  position: relative;
  color: white;
  text-align: center;
}

.close {
  right: 10px;
  cursor: pointer;
}
/* .product .btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
} */

.product .btn button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn .close {
  background-color: #6c757d;
  color: #fff;
  margin-right: 5px;
}

.btn .checkOut {
  background-color: #007bff;
  color: #fff;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  height: 100px;
  max-width: 100%;
  overflow: hidden;
}
.card-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #009688;
}
.product .btn-primary {
  background-color: #009688;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}
/* Footer style */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

/* Cart Tab Style */
.cartTab {
  width: 400px;
  height: fit-content;
  background-color: #353432;
  color: #fff;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
  filter: drop-shadow(3px 10px 21px black);
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
  height: auto;
  overflow: scroll;
  width: auto;
}
/* body.showCart .products-container {
  transform: translateX(-250px);
} */

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
  background-color: #e8bc0e;
  border: none;
  font-weight: 500;
  font-family: Poppins;
  cursor: pointer;
}

.cartTab .btn .close {
  background-color: #555;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}

.cartTab .listCart .products img {
  width: 100%;
  border-radius: 20px;
  margin: 15px 0 0 16px;
  filter: drop-shadow(2px 4px 6px white);
}

.cartTab .listCart .products {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}

.listCart .products:nth-child(even) {
  background-color: #eee1;
}

.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* wraper */

/* ul {
  padding: 0;
}

.wraper {
  width: 100vw;
}
.wraper .icon {
  display: flex;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 1vw;
  left: 1vw;
  align-items: center;
  transition: all 0.6s linear;
}
.wraper .icon.active {
  left: 25vw;
  top: 0;
}
@media all and (max-width: 750px) {
  .wraper .icon.active {
    right: -15px;
  }
}
.wraper .icon.active .hamb {
  background: initial;
}
.wraper .icon.active .hamb:before {
  transform: rotate(45deg);
  top: 0;
}
.wraper .icon.active .hamb:after {
  transform: rotate(-45deg);
  top: 0;
}
.wraper .icon .hamb {
  height: 6px;
  width: 50px;
  background: #d7cfcf;
  display: block;
  position: relative;
  transition: all 0.6s linear;
}
.wraper .icon .hamb:before,
.wraper .icon .hamb:after {
  content: "";
  width: 50px;
  height: 6px;
  display: block;
  position: absolute;
  background: #d7cfcf;
  transition: all 0.6s linear;
}
.wraper .icon .hamb:before {
  top: -16px;
}
.wraper .icon .hamb:after {
  top: 16px;
}
.wraper #left-side {
  display: flex;
  width: 25vw;
  background-color: #1a1a1a;
  color: #ff6f46;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -25vw;
  transition: all 0.6s linear;
}
.wraper #left-side.active {
  left: 0;
}
.wraper #left-side ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.wraper #left-side ul li {
  border: 1px solid rgb(56, 54, 54);
  width: 100%;
  height: 200px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.6s linear 0s;
}
.wraper #left-side ul li div {
  z-index: 999;
  display: block;
}
.wraper #left-side ul li:after,
.wraper #left-side ul li:before {
  content: "";
  display: block;
  background: #d3caca;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.6s linear;
}
.wraper #left-side ul li:after {
  right: -50%;
}
.wraper #left-side ul li:before {
  left: -50%;
}
.wraper #left-side ul li:hover {
  color: #000;
}
.wraper #left-side ul li:hover:before {
  left: 0;
}
.wraper #left-side ul li:hover:after {
  right: 0;
} */

.filter {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: contents;
    width: 40%;
  height: 200px;
}

.row {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

#filterInput,
#minPrice,
#maxPrice {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btnclear,
#priceFilter button {
  padding: 8px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnclear:hover,
#priceFilter button:hover {
  background-color: #2980b9;
}

#left-side {
  display: none;
  background-color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 80%;
  z-index: 2;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
}
#slider-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 21px 0 50px 0;
}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  height: 70vh;
}

.slide img {
  width: 30%;
  height: auto;
  border-radius: 8px;
  border-radius: 8px;
  object-fit: cover;
}

#slider-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#slider-container button:hover {
  background-color: #2980b9;
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}
